<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Lavoura</title>
</head>
<body>
    <h1>Detalhes da Lavoura: {{ harvest.localization }}</h1>
    
    <!-- Link para adicionar nova safra -->
    <a href="{% url 'app1:tillage_create' farm_id=harvest.farm_id harvest_id=harvest.pk %}">Adicionar Nova Safra</a>

    <h2>Safras</h2>
    <ul>
        {% for tillage in harvest.tillages.all %}
            <li>
                Safra: {{ tillage.startdate }} até {{ tillage.enddate }}
                <a href="{% url 'app1:tillage_detail' tillage_id=tillage.pk %}">Detalhes da Safra</a>
                <!-- Adicione mais detalhes da safra aqui se necessário -->
            </li>
        {% empty %}
            <li>Nenhuma safra cadastrada nesta lavoura.</li>
        {% endfor %}
    </ul>

    {% comment %} <a href="{% url 'app1:farm_detail' farm_id=harvest.farm_id %}">Voltar para a fazenda</a> {% endcomment %}
    <a href="{% url 'app1:farm_detail' pk=harvest.farm_id %}">Voltar para a fazenda</a>

</body>
</html>
