<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Safra</title>
</head>
<body>
    <h1>Detalhes da Safra: {{ tillage.id }}</h1>

    <h2>Histórico de Umidade</h2>
    <ul>
        {% for humidity in humidities %}
            <li>{{ humidity.timestamp }} - {{ humidity.humidity }}%</li>
        {% empty %}
            <li>Nenhum registro de umidade encontrado.</li>
        {% endfor %}
    </ul>

    
    <a href="{% url 'app1:harvest_detail' farm_id=tillage.harvestId.farm.pk harvest_id=tillage.harvestId.pk %}">Voltar para a Lavoura</a>

</body>
</html>
